version: "3.9"

services:
  web:
    build: .
    container_name: notifier_web
    command: >
      sh -c "
      python manage.py makemigrations &&
      python manage.py migrate &&
      gunicorn message_notifier.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      db:
        condition: service_healthy

  celery:
    build: .
    container_name: notifier_celery
    command: celery -A message_notifier worker -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: notifier_celery_beat
    command: celery -A message_notifier beat -l info
    depends_on:
      - redis
      - web
    env_file:
      - .env

  db:
    image: postgres:16
    container_name: notifier_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: notifier_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
